extends layout

block content

  h1 Live tweets from #nodejs
  table(class="table table-bordered")
    thead
        tr
            th(width="15%") Image
            th(width="15%") From
            th Tweet

    tbody
        tr
            td Value
            td Value
            td Value
