extends layout

block content

  h1 Live tweets from #nodejs
  table(class="table table-bordered live-tweets")
    thead
        tr
            th(width="15%") Image
            th(width="15%") From
            th Tweet

    tbody
        each tweet in tweets
            tr
                td
                    img(src="#{tweet.profileImage}" width="75" height="75")
                td @#{tweet.username}
                td #{tweet.text}
