extends layout

block content

  h1 Live tweets from #nodejs
  table(class="table table-bordered live-tweets")
    thead
        tr
            th(width="15%") Image
            th(width="15%") From
            th Tweet

    tbody
        tr
            td
                img(src="http://placekitten.com/75/75" width="75" height="75")
            td @fulano
            td This is awesome dude
