doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")

    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
        div.container
            div(class="navbar-header")
                button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="navbar-brand" href="#") Live Tweets

            div(class="collapse navbar-collapse")
                ul(class="nav navbar-nav")
                    li(class="active")
                        a(href="#") Home

    div.container
        div(class="starter-template")

        block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
